h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block-camera;
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Poppins";
}
* {
  box-sizing: border-box;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 1148px;
  margin: 0 auto;
}

:root {
  --text-color: #fff;
  --btn-txt-color: #000;
  --title-color: #c0c0c0;
}

.header {
  background-color: #000;
}
.header__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 0 35px 0;
}
.header__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.header__item a {
  color: var(--text-color);
  font-size: 15px;
  line-height: 1.3;
}
.header__right {
  display: flex;
  align-items: center;
  gap: 56px;
}
.header__link {
  color: #fff;
  font-size: 13px;
}
.header__btn {
  color: var(--btn-txt-color);
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.4px;
  text-align: center;
  border-radius: 14px;
  padding: 9px 20px 13px 20px;
  cursor: pointer;
}

.hero {
  position: relative;
  background-image: url(./image/hero.jpg);
  background-repeat: no-repeat;
  padding-top: 487px;
  padding-bottom: 70px;
  background-size: cover;
}
.hero__text {
  color: var(--title-color);
  text-align: center;
  font-size: 14px;
  line-height: 1.4;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.hero__title {
  color: var(--text-color);
  text-align: center;
  font-size: 54px;
  line-height: 1.1;
  margin-top: 1px;
}
.hero__description {
  color: var(--title-color);
  text-align: center;
  max-width: 580px;
  margin: 0 auto;
  padding-top: 18px;
  font-size: 14px;
  line-height: 1.42;
}
.hero__mark {
  position: absolute;
  right: 40px;
  bottom: 41px;
}
.hero__list {
  display: flex;
  gap: 16px;
  align-items: center;
}
.hero__item {
  color: var(--text-color);
  fill: var(--text-color);
  display: flex;
  gap: 6px;
  align-items: flex-start;
  font-size: 12px;
}

.photo {
  background-color: var(--btn-txt-color);
  padding-top: 112px;
  padding-bottom: 100px;
}
.photo__title {
  text-align: center;
  font-size: 40px;
  line-height: 1.05;
  color: var(--text-color);
  margin-bottom: 15px;
}
.photo__description {
  color: var(--title-color);
  font-size: 23px;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 42px;
}
.photo__content {
  position: relative;
}
.photo__list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}
.photo__item {
  position: relative;
  width: calc(100% / 2 - 16px);
  cursor: pointer;
}
.photo__content-text {
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 30px;
}
.photo__name {
  font-size: 14px;
  color: var(--text-color);
  line-height: 1.42;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.photo__text {
  color: var(--title-color);
  font-size: 14px;
  line-height: 1.42;
}
.photo__img {
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.blocks {
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 260px;
  padding-bottom: 260px;
  padding-right: 62px;
}
.blocks__content {
  width: 300px;
  margin-left: auto;
}
.blocks__title {
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 2px;
  color: var(--text-color);
  text-transform: uppercase;
  padding-bottom: 5px;
}
.blocks__description {
  color: var(--title-color);
  font-size: 14px;
  line-height: 1.42;
}
.blocks__mark {
  position: absolute;
  right: 40px;
  bottom: 41px;
}
.blocks__list {
  display: flex;
  gap: 16px;
  align-items: center;
}
.blocks__item {
  color: var(--text-color);
  fill: var(--text-color);
  display: flex;
  gap: 6px;
  align-items: flex-start;
  font-size: 12px;
}

.block-camera {
  background-color: var(--btn-txt-color);
}
.block-camera__content {
  display: flex;
}
.block-camera__left {
  width: calc(100 / 2);
}
.block-camera__left-text {
  font-size: 14px;
  color: var(--title-color);
  line-height: 1.42;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.block-camera__left-title {
  font-size: 28px;
  line-height: 1.14;
  color: var(--text-color);
  margin-top: 6px;
}
.block-camera__left-description {
  font-size: 14px;
  line-height: 1.42;
  color: var(--text-color);
  margin-top: 14px;
  margin-bottom: 20px;
}
.block-camera__right,
.block-camera__left {
  width: calc(100% / 2);
  overflow: hidden;
}
.block-camera__right img {
  width: 100%;
  height: auto;
}
.block-camera__text {
  padding-top: 173px;
  padding-bottom: 153px;
  width: 514px;
  max-width: 100%;
  margin: 0 auto;
}
.block-camera__left-btn--point {
  background-color: var(--btn-txt-color);
  width: 32px;
  height: 32px;
  border-radius: 16px;
}
.btn {
  background-color: var(--text-color);
  color: var(--btn-txt-color);
  font-size: 15px;
  line-height: 1.3;
  letter-spacing: 0.4px;
  border-radius: 14px;
  padding: 5px 15px 5px 4px;
  margin-top: 15px;
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.btn__circle {
  background-color: var(--btn-txt-color);
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

.clients {
  background-color: var(--btn-txt-color);
  padding-top: 120px;
  padding-bottom: 169px;
}
.clients__title {
  color: var(--text-color);
  font-size: 40px;
  line-height: 1.05;
  text-align: center;
}
.clients__description {
  font-size: 24px;
  line-height: 1.25;
  color: var(--title-color);
  text-align: center;
  margin-top: 15px;
}
.clients__list {
  display: flex;
  gap: 109px;
  justify-content: center;
  align-items: center;
  margin-top: 111px;
}
.clients__svg {
  fill: var(--text-color);
}

.request {
  background-color: var(--btn-txt-color);
  padding-top: 113px;
  padding-bottom: 100px;
}
.request__content {
  max-width: 570px;
  margin: 0 auto;
  text-align: center;
}
.request__title {
  font-size: 40px;
  line-height: 1.05;
  color: var(--text-color);
}
.request__description {
  color: var(--title-color);
  font-size: 24px;
  line-height: 1.25;
  margin-top: 15px;
}
.request__btn {
  margin-top: 22px;
  margin-left: auto;
  margin-right: auto;
}

.footer {
  background-color: var(--btn-txt-color);
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer__block-one {
  display: flex;
}
.footer__left {
  max-width: 457px;
  margin-right: 252px;
}
.footer__left-text {
  color: var(--title-color);
  font-size: 13px;
  padding-top: 20px;
}
.footer__right-title {
  color: var(--title-color);
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.footer__right {
  display: flex;
}
.footer__right-business {
  max-width: 182px;
  margin-right: 55px;
}
.footer__right-item {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.42;
  margin-bottom: 10px;
}
.footer__right-pages {
  max-width: 119px;
}
.footer__menu-item {
  color: var(--text-color);
  font-size: 13px;
  line-height: 1.53;
  margin-bottom: 10px;
}
.footer__line {
  width: 1168px;
  height: 2px;
  flex-shrink: 0;
  background-color: var(--text-color);
  margin: 36px 0 36px 0;
}
.footer__block-two {
  display: flex;
  justify-content: space-between;
}
.footer__title {
  color: var(--text-color);
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
.footer__description {
  color: #c0c0c0;
  font-size: 13px;
  line-height: 1.53;
}
.footer__btn {
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  background-color: #f9fafb;
  width: 458px;
  height: 52px;
  padding: 11px 6px 11px 389px;
  cursor: pointer;
}
.footer__btn-circle {
  border-radius: 11px;
  background-color: var(--btn-txt-color);
  width: 63px;
  height: 30px;
}
.footer__media {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.footer__text {
  color: var(--title-color);
  padding-top: 20px;
}
.footer__social-list {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 20px;
}
.footer__social-svg {
  fill: var(--title-color);
}
